 <tr>
   <td class="bookmark">
        <span class="content"><%= bookmark.url %></span>
      <span class="content"><%= bookmark.name %></span>
      <span class="timestamp">
         Posted <%= time_ago_in_words(bookmark.created_at) %> ago.
      </span>
   </td>
   <% user = bookmark.user rescue User.find(bookmark.user_id)%>
   <% if current_user?(user) %>
      <td>
          <%= link_to "delete", bookmark, :method => :delete,
                                           :confirmation => "You sure",
                                           :title => bookmark.name %>
      </td>
   <% end %>
 </tr>