<header>
  <%= link_to logo,  root_path %>
    <nav class="round links">
      <ul>
	<% if signed_in? %>
	     <%= render 'layouts/logged' %>
	<% else %>
	    <%= render 'layouts/non-logged' %>
	<% end %>
     </ul>
  </nav>
</header>
